body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

h1 {
width: 30%;
text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
width: 60%;
  margin-top: 0;
  font-size: 16px;
}

aside {
background-color: grey;
  float: left;
  width: 30%;
  padding: 10px;
}

article {
  float: right;
  width: 30%;
  padding: 10px;
  background-color: #f0f0f0;
}

footer {
  clear: both;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

img {
  max-width: 100%;
  margin: 10px 0;
}

p {
  margin-bottom: 10px;
}

strong {
  text-decoration: underline;
}

.subrayado {
  border-bottom: 1px solid #000;
}
